In [ ]:
import pandas as pd
import requests

#SOAL
Dengan menggunakan API alphavantage silahkan untuk tarik data untuk saham Google, IBM, Apple dan Amazon. Output yang diharapkan adalah gabungan saham dan disimpan berupa pandas dataframe dengan kolom

In [ ]:
#Google
api_url = "https://www.alphavantage.co/query?"

data_google = {
    "function" : "TIME_SERIES_DAILY",
    "symbol" : "GOOG",
    "apikey" : "H9A26HVDIV1RH05"
    }
  
response_google = requests.get(api_url, params=data_google)
google = response_google.json()

symbol_google = google['Meta Data']['2. Symbol']
daily_google = google['Time Series (Daily)']

processed_google = []
for date in daily_google:
  open = daily_google[date]['1. open']
  close = daily_google[date]['4. close']
  volume = daily_google[date]['5. volume']

  processed_google.append([symbol_google,date,open,close,volume])

result_google = pd.DataFrame(processed_google,columns = ['symbol','date','open','close','volume'])
print(result_google)#IBM
data_ibm = {
    "function" : "TIME_SERIES_DAILY",
    "symbol" : "IBM",
    "apikey" : "H9A26HVDIV1RH05"
    }
  
response_ibm = requests.get(api_url, params=data_ibm)
ibm = response_ibm.json()

symbol_ibm = ibm['Meta Data']['2. Symbol']
daily_ibm = ibm['Time Series (Daily)']

processed_ibm = []
for date_ibm in daily_ibm:
  open_ibm = daily_ibm[date_ibm]['1. open']
  close_ibm = daily_ibm[date_ibm]['4. close']
  volume_ibm = daily_ibm[date_ibm]['5. volume']

  processed_ibm.append([symbol_ibm,date_ibm,open_ibm,close_ibm,volume_ibm])

result_ibm = pd.DataFrame(processed_ibm,columns = ['symbol','date','open','close','volume'])
print(result_ibm)

   symbol        date       open      close   volume
0    GOOG  2021-10-08  2798.1200  2801.1200   946421
1    GOOG  2021-10-07  2777.2600  2783.7100   912523
2    GOOG  2021-10-06  2692.5100  2747.0800   988216
3    GOOG  2021-10-05  2680.0000  2723.5400  1206337
4    GOOG  2021-10-04  2713.9900  2675.3000  1576495
..    ...         ...        ...        ...      ...
95   GOOG  2021-05-25  2420.0000  2409.0700   941928
96   GOOG  2021-05-24  2367.0000  2406.6700  1062189
97   GOOG  2021-05-21  2365.9900  2345.1000  1141632
98   GOOG  2021-05-20  2328.0400  2356.0900  1191593
99   GOOG  2021-05-19  2264.4000  2308.7100   967544

[100 rows x 5 columns]
   symbol        date      open     close   volume
0     IBM  2021-10-08  141.8100  143.2200  3731279
1     IBM  2021-10-07  142.7300  141.8100  3823803
2     IBM  2021-10-06  142.4800  142.3600  5328433
3     IBM  2021-10-05  144.7500  143.1500  6976648
4     IBM  2021-10-04  142.7400  144.1100  7351128
..    ...         ...       ...       ...      ...
95    IBM  2021-05-25  144.9200  143.7900  3937323
96    IBM  2021-05-24  145.0600  144.7200  3297570
97    IBM  2021-05-21  144.2800  144.7400  4033482
98    IBM  2021-05-20  143.1200  143.8800  4112690
99    IBM  2021-05-19  142.3200  143.1900  4300732

[100 rows x 5 columns]

In [ ]:
#APPLE
data_apple = {
    "function" : "TIME_SERIES_DAILY",
    "symbol" : "AAPL",
    "apikey" : "H9A26HVDIV1RH05"
    }
  
response_apple = requests.get(api_url, params=data_apple)
apple = response_apple.json()

symbol_apple = apple['Meta Data']['2. Symbol']
daily_apple = apple['Time Series (Daily)']

processed_apple = []
for date_apple in daily_apple:
  open_apple = daily_apple[date_apple]['1. open']
  close_apple = daily_apple[date_apple]['4. close']
  volume_apple = daily_apple[date_apple]['5. volume']

  processed_apple.append([symbol_apple,date_apple,open_apple,close_apple,volume_apple])

result_apple = pd.DataFrame(processed_apple,columns = ['symbol','date','open','close','volume'])
print(result_apple)

   symbol        date      open     close    volume
0    AAPL  2021-10-08  144.0300  142.9000  58773155
1    AAPL  2021-10-07  143.0600  143.2900  61732656
2    AAPL  2021-10-06  139.4700  142.0000  83221119
3    AAPL  2021-10-05  139.4900  141.1100  80861062
4    AAPL  2021-10-04  141.7600  139.1400  98322008
..    ...         ...       ...       ...       ...
95   AAPL  2021-05-25  127.8200  126.9000  72009482
96   AAPL  2021-05-24  126.0100  127.1000  63092945
97   AAPL  2021-05-21  127.8200  125.4300  79295436
98   AAPL  2021-05-20  125.2300  127.3100  76857123
99   AAPL  2021-05-19  123.1600  124.6900  92611989

[100 rows x 5 columns]

In [ ]:
#AMAZON
data_amazon = {
    "function" : "TIME_SERIES_DAILY",
    "symbol" : "AMZN",
    "apikey" : "H9A26HVDIV1RH05"
    }
  
response_amazon = requests.get(api_url, params=data_amazon)
amazon = response_amazon.json()

symbol_amazon = amazon['Meta Data']['2. Symbol']
daily_amazon = amazon['Time Series (Daily)']

processed_amazon = []
for date_amazon in daily_amazon:
  open_amazon = daily_amazon[date]['1. open']
  close_amazon = daily_amazon[date]['4. close']
  volume_amazon = daily_amazon[date]['5. volume']

  processed_amazon.append([symbol_amazon,date_amazon,open_amazon,close_amazon,volume_amazon])

result_amazon = pd.DataFrame(processed_amazon,columns = ['symbol','date','open','close','volume'])
print(result_amazon)

   symbol        date       open      close   volume
0    AMZN  2021-10-08  3195.0000  3231.8000  2679708
1    AMZN  2021-10-07  3195.0000  3231.8000  2679708
2    AMZN  2021-10-06  3195.0000  3231.8000  2679708
3    AMZN  2021-10-05  3195.0000  3231.8000  2679708
4    AMZN  2021-10-04  3195.0000  3231.8000  2679708
..    ...         ...        ...        ...      ...
95   AMZN  2021-05-25  3195.0000  3231.8000  2679708
96   AMZN  2021-05-24  3195.0000  3231.8000  2679708
97   AMZN  2021-05-21  3195.0000  3231.8000  2679708
98   AMZN  2021-05-20  3195.0000  3231.8000  2679708
99   AMZN  2021-05-19  3195.0000  3231.8000  2679708

[100 rows x 5 columns]

In [ ]:
frames = [result_google,result_ibm,result_apple,result_amazon]
result_all = pd.concat((frames), ignore_index=True, sort=False)
result_all

    symbol        date       open      close   volume
0     GOOG  2021-10-08  2798.1200  2801.1200   946421
1     GOOG  2021-10-07  2777.2600  2783.7100   912523
2     GOOG  2021-10-06  2692.5100  2747.0800   988216
3     GOOG  2021-10-05  2680.0000  2723.5400  1206337
4     GOOG  2021-10-04  2713.9900  2675.3000  1576495
..     ...         ...        ...        ...      ...
395   AMZN  2021-05-25  3195.0000  3231.8000  2679708
396   AMZN  2021-05-24  3195.0000  3231.8000  2679708
397   AMZN  2021-05-21  3195.0000  3231.8000  2679708
398   AMZN  2021-05-20  3195.0000  3231.8000  2679708
399   AMZN  2021-05-19  3195.0000  3231.8000  2679708

[400 rows x 5 columns]